* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #f2cd97;
  margin: 0;
  min-height: 100vh;
  line-height: 1.4;
}

img {
  max-width: 100%;
  display: block;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

body,
a {
  font-family: 'Arimo', sans-serif;
}

p {
  font-family: 'Dosis', sans-serif;
}

a,
.close-btn {
  text-decoration: none;
  color: #2a6081;
}

li {
  list-style: none;
  padding: 0;
}

header {
  background-color: white;
}

.nav-list {
  font-size: 4rem;
  text-transform: uppercase;
}

.nav-list-link:hover,
.nav-list-link:focus,
.nav-icons-list-link:focus,
.nav-icons-list-link:hover,
.close-btn:hover,
.close-btn:focus {
  color: #f2cd97;
}

.menu-hamburger {
  font-size: 2.5rem;
  cursor: pointer;
}

/* Layout */

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-link-icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 100%;
  bottom: 0;
  background: white;
  min-height: 100vh;
  transform: translateX(0%);
  transition: transform 250ms;
}

.nav-icons-list {
  margin: 3em auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  outline: none;
  background: transparent;
  border: none;
  font-size: 5rem;
  cursor: pointer;
}

.nav-open {
  transform: translate(-100%);
}

.nav-menu {
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  height: 50vh;
  background: url(../assets/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding {
  padding-left: 3em;
  padding-right: 3em;
}

.hero-overlay {
  width: 53%;
  text-align: center;
  padding: 3em 2em;
  background-color: hsla(42, 17.3%, 26.1%, 0.95);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  text-transform: uppercase;
  line-height: 0.9;
  color: #ecb76a;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5em;
  width: 90%;
}

.hero-p {
  line-height: 1.6;
  margin-bottom: 1.5em;
}

.btn {
  font-size: 0.9rem;
  color: white;
  padding: 0.8em 1.5em;
  background: #2a6081;
  font-weight: 700;
  border-radius: 5px;
}

.btn:hover,
.btn:focus {
  background: hsl(203, 50.9%, 30%);
}
